@model SayHello.Web.Database.Hello
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello In '@Model.LanguageName'</h1>
    <h3>@Model.HelloText</h3>
</div>
