@model string

<div class="text-center">
    <h1 class="display-4">Language Error</h1>
    <p>You have not supplied a valid or supported language code. The language code @Model is not supported.</p>
</div>
